:root {
  --bg-color: #ffd5d5;
  --bg-holder: rgba(255, 255, 255, 0.521);
}

body {
  position: relative;
  height: 100vh;
  /* background-color: var(--bg-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #e3e3e3;
}

 body::before {
    content: url(https://images.theconversation.com/files/232705/original/file-20180820-30593-1nxanpj.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1356&h=668&fit=crop);
    opacity: 1;
    z-index: -2999;
    position: absolute;
    background-position: center;
 }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col .container {
  background: rgb(93, 237, 255);
  background: linear-gradient( 180deg, #c18c7e 0%, rgb(90 104 172) 50%, rgb(111 125 191) 100% );
  border-radius: 0.5rem;
  transition: all 0.3s ease-in;
}
.weather_holder,
.input_holder {
  height: 15rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 99999;
}

.search_holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  transition: 0.3s ease-in;
  border-radius: 0.3rem;
  border: 0.01rem solid transparent;
  z-index: 99;
  background-color: var(--bg-holder);
}
.city_holder {
  text-transform: capitalize;
}
.search_input {
  background-color: transparent;
  outline: none;
  transition: 0.3s ease-in;
  border: 0;
}

.search_input::placeholder {
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

.search_holder:hover {
  border: 0.01rem solid #c0c0c036;
}

.search_holder:focus-within {
  box-shadow: 0 0.1rem 0.3rem #00000080;
  transform: translate3d(1px, 0.1px, 1px);
}

.search_btn {
  cursor: pointer;
  color: #535353;
}

.search_btn:active {
  transform: translate3d(0, 1px, 0);
}

.time_date_holder {
  color: #535353;
  width: 100%;
  display: flex;
align-items: center;
  justify-content: space-between;
}

.weather_holder {
  width: 100%;
  height: 15rem;
}

.weather_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hidden {
  display: none;
}
.visible {
  display: flex;
}

.weather-container {
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.weather-container.show {
  opacity: 1;
}
.weather_info,
.time_date_holder {
  padding: 0.4rem;
  background-color: rgba(225, 225, 225, 0.5);
  border-radius: 0.2rem;
}
.Social_link_holder {
  position: absolute;
  bottom: 0.5%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}
.Social_link_holder div a {
  color: rgb(52, 52, 52);
  text-decoration: none;
  transition: text-decoration .50s ease
}
.Social_link_holder div a{
 
}
.Social_link_holder div {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Social_link_holder div a i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.weather_holder{
  justify-content: space-between !important;
  padding: 1rem !important;
}
.weather_icon_holder{ 
  background: rgba(255, 255, 255, 0.1) ;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
.weather_icon{
  height: 90px;
}
.weather_icon_holder{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

